<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERSystemV2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.revature.ressources.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReimbursmentServlet</display-name>
    <servlet-name>AddReimbursmentServlet</servlet-name>
    <servlet-class>com.revature.ressources.AddReimbursmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReimbursmentServlet</servlet-name>
    <url-pattern>/addReimbursment</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ViewEmployees</display-name>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.revature.ressources.ViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployee</display-name>
    <servlet-name>ViewEmployee</servlet-name>
    <servlet-class>com.revature.ressources.ViewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployee</servlet-name>
    <url-pattern>/vemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction</display-name>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>com.revature.ressources.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionServlet</display-name>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>com.revature.ressources.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/trans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Action</display-name>
    <servlet-name>Action</servlet-name>
    <servlet-class>com.revature.ressources.Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/Act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionServlet</display-name>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>com.revature.ressources.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>/action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImage</display-name>
    <servlet-name>GetImage</servlet-name>
    <servlet-class>com.revature.ressources.GetImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImage</servlet-name>
    <url-pattern>/img</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveDeny</display-name>
    <servlet-name>ApproveDeny</servlet-name>
    <servlet-class>com.revature.ressources.ApproveDeny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveDeny</servlet-name>
    <url-pattern>/appro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecidingServlet</display-name>
    <servlet-name>DecidingServlet</servlet-name>
    <servlet-class>com.revature.ressources.DecidingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecidingServlet</servlet-name>
    <url-pattern>/decide</url-pattern>
  </servlet-mapping>
</web-app>